.statistics {
  width: 320px;
  padding: 0;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 5px 5px 8px 1px rgba(138, 130, 130, 0.75);
  -webkit-box-shadow: 5px 5px 8px 1px rgba(138, 130, 130, 0.75);
  -moz-box-shadow: 5px 5px 8px 1px rgba(138, 130, 130, 0.75);
}
.title {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
  color: #202e40;
}
.stat_list {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #f3f6f9;
}
.item {
  display: flex;
  width: calc(320px / 4);
  padding: 12px 0px;
  flex-direction: column;
  align-items: center;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
  transform: scale(0.9);
}
.label {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.percentage {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
